<div class="container">
  <div class="row">
    <div class="col-lg-8 mt-5">
      <h1>Your Cart</h1>
        <div class="card w-75">
          <div class="card-body card">  
            <div class="main">
              <div class="img">
                <img class="product-img" src="http://via.placeholder.com/300x180" alt="Card image cap">
              </div>
              <div class="text-product">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>   
            </div>
            <div class="footer">
              <div class="qty">
                <span class="minus bg-dark">-</span>
                <input type="number" class="count" name="qty" value="1">
                <span class="plus bg-dark">+</span>
              </div>
              <i class="fa fa-trash trash" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="card w-75">
          <div class="card-body card">  
            <div class="main">
              <div class="img">
                <img class="product-img" src="http://via.placeholder.com/300x180" alt="Card image cap">
              </div>
              <div class="text-product">
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>   
            </div>
            <div class="footer">
              <div class="qty">
                <span class="minus bg-dark">-</span>
                <input type="number" class="count" name="qty" value="1">
                <span class="plus bg-dark">+</span>
              </div>
              <i class="fa fa-trash trash" aria-hidden="true"></i>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-lg-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Shopping summary</h5>
          <div class="total-box">
            <p class="card-text">Grand total</p>
            <p class="card-text">Rp 15.000.000</p>
          </div>
          <a href="#" class="btn btn-primary">Checkout!</a>
        </div>
      </div>
    </div>
  </div>
</div>