
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="text-wrapper">
        <h1 class="display-4 ">Welcome to erenSport</h1>
      <p class="lead">We are one of the biggest badminton store in the world</p>
      </div>
    </div>
  </div>
  <div class="text-product">
    <h2>Product's list</h2>
  </div>
<div class="row">
  <!-- <div class="col-md-2">
    <app-filter></app-filter>
  </div> -->
  <div class="col-md-12">
    <div class="product-list">
      <div class="container">
        <div class="product">
          <app-product-list></app-product-list>
        </div> 
      </div>
    </div>
  </div>
</div>

