
<div class="container">
  <div class="product-category mt-3">
    <h1>Product's category | racquet</h1>
  </div>
  <div class="box">
    <div class="row">
      <div class="col-md-4 left-body">
        <img src="../../assets/img/racquet - 1.webp"
        class="product-img">
      </div>
      <div class="col-md-6 right-body">
        <div class="row">
          <div class="col-md-12 name">
            <h2>Yonex Astox 12</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            
            <h3>Rp 12.000.000</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio, officia quis dolore quos sapiente tempore alias.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-secondary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>



