.box{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}
.icon {
  font-size:30px;
  color: white;
  margin-right: 25px;
}

.icon:hover{
  cursor: pointer;
  border: none;
}

.logout{
  cursor: pointer;
  margin-right: 15px;
}
