<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="sportName">
    <a class="navbar-brand ml-3" href="/">erenSport</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="box">
        <a class="fa fa-shopping-cart icon" href="/cart" aria-hidden="true"></a>
        <li class="nav-item active">
          <a class="nav-link ml-4" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-3" href="/signup">Register <span class="sr-only">(current)</span></a>
        </li>
      </div>
    </ul>
  </div>
</nav>
