<div class="container">
  <div class="bg-light border-right sidebar" id="sidebar-wrapper">
    <div class="list-group list-group-flush box-sidebar">
        <a class="list-group-item list-group-item-action bg-light" href="#!">Racquets</a>
        <a class="list-group-item list-group-item-action bg-light" href="#!">Shoes</a>
        <a class="list-group-item list-group-item-action bg-light" href="#!">Bags</a>
        <a class="list-group-item list-group-item-action bg-light" href="#!">Shuttlecocks</a>
        <a class="list-group-item list-group-item-action bg-light" href="#!">Apparel</a>
    </div>
  </div>
</div>

