.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 60px;
  width: 100%;
  /* height: 50vh; */
}

.text{
  margin-bottom: 40px;
  font-size: 20px;
}
.phone{
  margin-bottom: 20px;
}
.login{
  display: flex;
  height: 100%;
  justify-content: center;
}